<p>
<h3>Hello world. </h3>
This here is my webportal.
</p>
<div id="me">
<img alt="" class="round" src="/images/me.png" />
</div>
<p>
I'm Kevin Lam, an Engineering Science student at the University of Toronto. Born and raised in Mississauga and Chinese-Vietnamese by blood. Outside of engineering, I am passionate about music and art. In particular I like to play jazz music and paint using a variety of mediums. 
</p>
<p> 
Also, credit to <a href="http://tachyonic.tumblr.com/">Debbie Lo</a> for the portrayal of me enjoying some spicy noodles above!
</p>

