<div id="feed">

<h5>latest tweet</h5>
  <script src="http://feeds.feedburner.com/twitter/kevincvlam?format=sigpro" type="text/javascript" ></script>
  <p>
  <h5>latest blog post</h5>
  <script src="http://feeds.feedburner.com/kevincvlam?format=sigpro" type="text/javascript" ></script></p>

  <p>
  <h5>latest gitHub activity</h5>
  <script src="http://feeds.feedburner.com/gitHub/kevincvlam?format=sigpro" type="text/javascript" ></script>
  </p>
</div>


